<div class="poster">
<img src="<%= @movie["Poster"]%>" alt="">
</div>
<div class="summary">
<h2><%= @movie["Title"] %></h2>
<p><strong>Synopsis:</strong> <%= @movie["Plot"] %></p>
<p><strong>Runtime:</strong> <%= @movie["Runtime"] %></p>
<p><strong>Starring:</strong> <%= @movie["Actors"] %></p>
<p><strong>Released:</strong> <%= @movie["Released"] %></p>
<p><strong>Genre:</strong> <%= @movie["Genre"] %></p>
<p><strong>imdb Rating:</strong> <%= @movie["imdbRating"] %></p>
<p><strong>Director:</strong> <%= @movie["Director"] %></p>
</div>
